*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family:sans-serif;
    background: #cc9277;
}
header{
    text-align: center;
    text-transform: uppercase;
    padding:32px;
    background-color: #414158;
    color:#fff;
    border-bottom:4px solid #fdb347;
}
gallery{
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding:20px 10px
}
.galler img{
    width: 100%;
    max-width: 350px;
    height:30px;
    object-fit: cover;
    border-radius: 30px;
}
gallery::after{
    content: normal;
    width: 350px;
}